.box{
    max-width: 1920px;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 1);
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(7, 63, 0, 1) 100%);
}
header{
    gap: 25px;
    align-items: center;
    justify-content: flex-start;
    max-width: 1920px;
    padding: 10px 25px;
    display: flex;
    -webkit-box-shadow: inset 0px 0px 38px 0px rgba(0, 255, 255, 0.44);
    -moz-box-shadow: inset 0px 0px 38px 0px rgba(0, 255, 255, 0.44);
    box-shadow: inset 0px 0px 38px 0px rgb(3 57 27 / 44%);
}
.logo img{
    width: 80px;
}
.header_p{
    color: aliceblue;
    transition: 1s ease-in-out;
}
.header_p:hover{
    color: rgb(127, 126, 126);
}
/*---------------------------main----------------------------*/
.main{
    padding: 50px 50px 0 50px;
}
.main_title{
    text-align: center;
    font-size: 24px;
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    color: aliceblue;
}
.main_flex{
    gap: 25px;
    flex-wrap: wrap;
    margin-top: 25px;
    display: flex;
    justify-content: center;
}
.main_flex_info{
    height: 475px;
    width: 100%;
    padding: 25px;
    max-width: 600px;
    border-radius: 10px;
    border: solid 1px #fff;
}
.main_flex_delivery{
    padding: 25px;
    border-radius: 10px;
    border: 1px solid #fff;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}
.main_flex_info input{
    font-size: 16px;
    color: #fff;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    max-width: 400px;
    border: solid 1px #04ff00;
    background-color: #ffffff20;
    -webkit-box-shadow: inset 0px 0px 24px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: inset 0px 0px 24px 0px rgba(66, 68, 90, 1);
    box-shadow: inset 0px 0px 24px 0px rgba(66, 68, 90, 1);
}
input::placeholder{
    color: #fff;
}
.main_flex_info_button{
    width: 280px;
    font-size: 14px;
    margin: 20px 0 5px 0;
    padding: 15px;
    border-radius: 10px;
    color: #fff;
    background-color: #04ff0000;
    border: solid 1px #26ff00;
    -webkit-box-shadow: inset 0px 0px 24px 0px rgba(0, 54, 1, 1);
    -moz-box-shadow: inset 0px 0px 24px 0px rgba(0, 54, 1, 1);
    box-shadow: inset 0px 0px 24px 0px rgb(31, 143, 33);
}
.main_flex_info_text{
    text-decoration: underline;
    font-size: 14px;
    line-height: 25px;
    color: #fff;
    max-height: 150px;       /* Або інша висота, яка тобі підходить */
    overflow-y: auto;        /* Вертикальний скрол */
    padding-right: 10px; 
}
.main_flex_delivery h3{
    margin-bottom: 10px;
    color: aliceblue;
    text-decoration: underline;
    font-size: 20px;
}
.cart-items p{
    margin-bottom: 15px;
    font-weight: 900;
    color: aliceblue;
    font-size: 16px;
}
.cart-item-title {
    color: red; /* тут постав колір, який хочеш */
    font-size: 20px; /* або 18px, як тобі подобається */
    font-weight: bold;
    margin-bottom: 10px;
}
.main_flex_delivery p{
    font-size: 17px;
    color: #fff;
}
.checkout-item p{
    margin: 15px 0;
    color: aliceblue;
    font-size: 17px;
}
.checkout-item button{
    box-shadow: inset 0px 0px 57px 0px rgb(0 0 0);
    border: solid 1px #87fd00;
    border-radius: 10px;
    background: #00ffff00;
    padding: 10px;
    color: aliceblue;
    font-size: 16px;
    font-weight: 600;
}
.divider {
    border: none;
    height: 1px;
    background-color: white;
    margin: 15px 0;
    opacity: 0.3;
}
.checkout-item-details {
    display: flex; /* Розміщення елементів в ряд */
    align-items: center; /* Центрування по вертикалі */
    margin-bottom: 20px; /* Відступ між товарами */
}
.checkout-item-image {
    width: 70px; /* Ширина картинки */
    height: 100px; /* Висота картинки */
    object-fit: cover; /* Підгонка зображення по контейнеру */
    margin-right: 15px; /* Відступ між картинкою і текстом */
}
.product-link {
    color: #ffffff; /* Колір посилання */
    text-decoration: none; /* Без підкреслення */
}
.product-link:hover {
    text-decoration: underline; /* Підкреслення при наведенні */
}

@media(max-width:500px){
    .main {
        padding: 50px 10px 0 10px;
    }
    .main_title {
        text-align: center;
    }
    .main_flex_info{
        text-align: center;
    }
}
@media(max-width:450px){
    .main_flex_info_button{
        width: 200px;
    }
    .main_flex_info {
        height: 520px;
    }
}